
h1{

    font-size:50px;
    font-style:italic;
    background-color: rgb(230, 142, 11);
   text-align: center;
}





 
  li {
    display:flex;
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 134px;
   width: 94px;
    text-decoration: none;
    font-size: 17px;
    background-color: #04AA6D;
    color: white;
    margin: 1px;
 }







  button:hover {
    opacity: 0.7;
    font-size: 20px;
    background-color: rgb(255, 106, 6);
  }
  img{
    border: rgb(223, 35, 35) solid 1px; 
    justify-self: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:80%;
    height: 80%;
  
  }

  
  